<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>MobileWebFramework</display-name>
	<servlet>
		<servlet-name>MobileWebServlet</servlet-name>
		<servlet-class>com.oracle.web.servlet.MobileWebServlet</servlet-class>
		<init-param>
			<param-name>application-properties</param-name>
			<param-value>appConfig.txt</param-value>
		</init-param>
		<init-param>
			<param-name>context-root</param-name>
			<param-value>MobileWebFramework</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileWebServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>